<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>404 - Page Not Found</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>PAGE NOT FOUND.</h2>
    </hgroup>
</body>
</html>
