<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>404 - Page Not Found</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>PAGE NOT FOUND.</h2>

    </hgroup>
    <p>If you are trying to manually test the app. here are some demo URLs:</p>
    <ul>
        <li><a href="http://localhost:5615/?url=http://upload.wikimedia.org/wikipedia/sr/0/0c/Firefox-logo.png&options=width=400">Link 1</a></li>
        <li><a href="http://localhost:5615/?url=http://www.bing.com/az/hprichbg/rb/ColorfulCoral_EN-US11315792401_1920x1080.jpg&options=quality=10">Link 2</a></li>
        <li><a href="http://localhost:5615/?url=http://www.bing.com/az/hprichbg/rb/ColorfulCoral_EN-US11315792401_1920x1080.jpg&options=quality=10,height=200">Link 3</a></li>
        <li><a href="http://localhost:5615/?url=http://images2.alphacoders.com/606/606100.jpg&options=quality=90,width=600">Link 4</a></li>
        <li><a href="http://localhost:5615/?url=http://images2.alphacoders.com/606/606100.jpg">Currently not working</a></li>
    </ul>
</body>
</html>
